.App {
  text-align: center;
}

.board {
  display: inline-block;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

button.flipped {
  background-color: #ddd;
}

button.flag {
  background-color: yellow;
}
